Repository M-Scott-Lassiter/Alphanumeric-Encoder: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

docs(readme): update content, add examples for new `deconstruct` function
  README.md
Due: npm run format

docs: 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  12ac33c52f1b8052e23edc1e77a4e30ba96f3186
Due: none

docs: formatting update on CHANGELOG.md
  CHANGELOG.md
Due: npm run format

fix: improve dictionary type checking
  index.js
  index.test.js
Due: npm run lint, npm run format

docs: 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  8cca3888a1c0da81611ceeb0523c609ff47ad819
Due: none

fix: correct bug that allowed bad dictionary values to pass through the constructor
  index.js
  index.test.js
Due: npm run lint, npm run format

docs(api): update API following change to constructor function behavior fix
  API.md
  CHANGELOG.md
Due: npm run format

docs: 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  b5f3c9cb5047c2a6c8187f48d2e7d95ec5a735ba
Due: none

build: ignore CHANGELOG.md from linting and formatting
  .prettierignore
Due: none

ci: remove contact information input field from issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

add the test coverage folder to ignored prettier files list
  .prettierignore
Due: none

build: change the semantic-release configuration to a shared config
  package-lock.json
  package.json
Due: npm run format

ci: add the beta branch to the publish script
  .github/workflows/publish.yml
Due: none

feat: add typescript bindings to the encoder
  .eslintignore
  API.md
  index.d.ts
  index.js
  index.test.js
  package.json
  release.config.js
Due: npm run lint, npm run format

docs: 1.6.0-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  c375161361f82d56fe45b7ed4660d98c3a241f98
Due: none

fix: add typescript definition file to "files" key
  package.json
Due: npm run format

docs: 1.6.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  3e51512079d6817e604a3aadb303d2ecc93c8741
Due: none

build: update commitizen configuration for API
  .cz-config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

fix: correct problems with Typescript definitions and JSDoc comments
  API.md
  index.d.ts
  index.js
  index.test.js
Due: npm run lint, npm run format

docs: 1.6.0-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  8bddcb738d0fac7f8e6bd07668758ddf051ff284
Due: none

build: update dev dependencies
  package-lock.json
Due: npm run format

ci(test): remove support for Node v12
  .github/workflows/test.yml
Due: none

docs: 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  80899b6481aac5ce96510aa2381e07614fd20bbd
Due: none

build: update all dev dependencies
  package-lock.json
  package.json
Due: npm run format

refactor: improve css readability
  .lintstagedrc
  logo-generator.html
Due: npm run format

docs(license): update copyright years
  LICENSE
Due: none

fix: bump to next minor version with updated dependencies
  package.json
Due: npm run format

ci: update test and publish to no longer use <Node v18
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

docs: no change
  .lintstagedrc
  logo-generator.html
Due: npm run format

ci: correct typo in step name
  .github/workflows/publish.yml
Due: none

revert: undo manual version change
  package.json
Due: npm run format

Path conditions:
  npm run lint: any of: **/*.{js,ts}
  npm run format: any of: **/*.{js,jsx,ts,tsx,json,html,css,scss,md}
