Repository M-Scott-Lassiter/Alphanumeric-Encoder: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

build: remove extra Github release files from semantic-release config
  release.config.js
Due: npm run lint, npm run format

docs: manually fix problem in changelog
  CHANGELOG.md
Due: npm run format

build: remove 'build' as a patch trigger for semantic-release
  .cz-config.js
  CONTRIBUTING.md
  release.config.js
Due: npm run lint, npm run format

ci: remove 'next' branch from test CI script
  .github/workflows/test.yml
Due: none

add YAML files to the lint-staged format list
  .lintstagedrc
Due: none

docs: fix broken link in README
  README.md
Due: npm run format

docs(contributing): make final content additions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: npm run format

refactor: order package.json proprties per npm documentation order
  package.json
Due: npm run format

ci: add support for Node v18 in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: update link in security policy
  .github/SECURITY.md
Due: npm run format

docs(api): add JSDoc annotation for all major accessors and functions in the class
  API.md
  README.md
  index.js
Due: npm run lint, npm run format

docs: 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  c53fbb67645ea10dfe89624d41c79ef148c9cd4c
Due: none

docs(api): update JSDoc comments in the class
  index.js
Due: npm run lint, npm run format

fix: add error handling for excessively large integers
  API.md
  index.js
Due: npm run lint, npm run format

test: add tests to verify errors thrown for excessively large integers
  index.test.js
Due: npm run lint, npm run format

build: update dev-dependency subdependencies (routine update)
  package-lock.json
Due: npm run format

docs: autoformat CHANGELOG.md
  CHANGELOG.md
Due: npm run format

docs(api): add 'throws' JSDOC tags to `encode` and `decode` functions
  API.md
  index.js
Due: npm run lint, npm run format

docs: fix error tag in the JSDoc 'throws' definitions
  API.md
  index.js
Due: npm run lint, npm run format

refactor(api): refactor error documentation into `RangeError` type
  API.md
  index.js
Due: npm run lint, npm run format

feat: add the `resetDefaultDictionary` method
  API.md
  index.js
Due: npm run lint, npm run format

test: add applicable test for the `resetDefaultDictionary` method
  index.test.js
Due: npm run lint, npm run format

docs: 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  04aa3dc33ff4167309ed02647aa3b2d386422719
Due: none

feat: add ability to use lower case letters in the dictionary
  API.md
  CHANGELOG.md
  index.js
  index.test.js
Due: npm run lint, npm run format

build: add @types/jest for type checking support in the testing suite
  index.test.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

docs: 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a912c71d9dc25d59359ba3e598d41fb3754518d7
Due: none

docs: autoformat changelog
  CHANGELOG.md
Due: npm run format

docs(readme): add an animated logo to the README
  README.md
  logo-generator.html
  logo.gif
Due: npm run format

docs: add NPM package link to README logo graphic
  README.md
Due: npm run format

feat: add ability to instantiate the class using an optional config object in the constructor
  API.md
  index.js
Due: npm run lint, npm run format

test: add tests verifying the optional config object works as expected
  index.test.js
Due: npm run lint, npm run format

docs: update content in README.md
  README.md
Due: npm run format

docs: 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  c962a3d7f52cadb42d646b42ee73e87da9ce70f7
Due: none

format CHANGELOG.md using Prettier
  CHANGELOG.md
Due: npm run format

feat: add the `deconstruct` function to the class
  API.md
  index.js
Due: npm run lint, npm run format

test: add test cases for the `deconstruct` function
  index.test.js
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: **/*.{js,ts}
  npm run format: any of: **/*.{js,jsx,ts,tsx,json,html,css,scss,md}
